body {
    background-color: #121212;
    margin: 0;
    font-family: "Inter", sans-serif;
}

#header {
    background-color: #121212;
    height: 15vh;
    margin: 0;
}

.header-line {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.menu-btn {
    display: none;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s linear;
    margin-left: 20px;
}

    .menu-btn:hover {
        color: #fcea49;
    }

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    font-size: 20px;
    margin: 0 20px;
    flex: 1 1 auto;
    transition: color 0.3s linear;
}

    .nav-item:hover {
        color: #fcea49;
    }

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    margin-bottom: 10px;
}

.phone-text {
    margin-top: 40px;
    text-align: center;
    font-weight: 200;
    color: #fff;
    padding-left: 40px;
    margin: 0;
}

.num {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    transition: color 0.3s linear;
    margin: 0;
}

    .num:hover {
        color: #fcea49;
    }

@media screen and (max-width: 916px) {
    .menu-btn {
        display: block;
        order: -1;   
    }
        .menu-btn .fas {
            font-size: 30px;
        }

    .nav {
        display: none;
    }

    .phone {
        order: -1;
    }
}
