<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon1.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/Client/Client_About.css">
    <link rel="stylesheet" href="/css/Client/Client_Header.css">
    <link rel="stylesheet" href="/css/Client/Client_Footer.css">
    <title>О нас</title>
    <style>
    </style>
</head>
<body>
    <div id="header">
        @await Html.PartialAsync("_Header")
    </div>
    <div id="main">
        <div class="container">
            <div class="about">
                Наш автосалон - это крупный дилер премиальных автомобилей в Москве и России, предлагающий широкий выбор автомобилей разных марок и моделей.
                <p>В нашем автосалоне представлен широкий выбор автомобилей от ведущих производителей, включая Mercedes-Benz, BMW, Audi, Porsche и Land Rover.</p>
                <p>Приходите к нам и убедитесь в том, что наш автосалон - это лучшее место для покупки премиального автомобиля.</p>
                <p>Мы предлагаем не только новые автомобили, но и автомобили с пробегом, которые прошли тщательную проверку и подготовку к продаже. Все автомобили с пробегом имеют гарантию качества и надежности, а также проходят сертификацию.</p>
                <p>В нашем автосалоне вы можете воспользоваться услугами квалифицированных специалистов, которые помогут вам выбрать автомобиль, соответствующий вашим потребностям и предпочтениям. Мы также предлагаем услуги по обслуживанию и ремонту автомобилей, которые будут помогать вам поддерживать ваш автомобиль в отличном состоянии.</p>
                <p>Наш автосалон расположен в удобном месте, с легким доступом с любой точки города. Мы открыты для вас ежедневно, и наши специалисты всегда готовы ответить на все ваши вопросы и помочь вам с выбором автомобиля.</p>
                Приходите к нам и убедитесь, что наш автосалон - это лучшее место для покупки премиального автомобиля. Здесь вы найдете лучшие цены, широкий выбор автомобилей и профессиональный сервис.
            </div>
        </div>

    </div>
    <div id="footer">
        @await Html.PartialAsync("_Footer")
    </div>
</body>

</html>