<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon1.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/Client/Client_Contacts.css">
    <link rel="stylesheet" href="/css/Client/Client_Header.css">
    <link rel="stylesheet" href="/css/Client/Client_Footer.css">
    <title>Контакты</title>
</head>
<body>
    <div id="header">
        @await Html.PartialAsync("_Header")
    </div>
    <div id="main">
        <div class="contacts">
            Наш адрес автосалона: г. Москва, ул. Ленинградский проспект, д. 1
            <p>Наш телефон: +7 999-888-77-66</p>
            <p>Наш адрес: info@autosalon.ru</p>
            График работы: с 9:00 до 21:00
        </div>
    </div>
    <div id="footer">
        @await Html.PartialAsync("_Footer")
    </div>
</body>

</html>