#main {
    background-color: #1e1d1f;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
}


.about{
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    color: white;
}
