<div class="container">
    <div class="header-line">
        <div class="nav">
            <a class="nav-item" href="/">ГЛАВНАЯ</a>
            <a class="nav-item" href="/Home/About">О НАС</a>
            <a class="nav-item" href="/Home/Contacts">КОНТАКТЫ</a>
        </div>

        <div class="phone">
            <div class="number">
                <a class="num" href="/">+7 999-888-77-66</a>
            </div>
            <div class="phone-text">
                Свяжитесь с нами, и мы поможем вам найти автомобиль - <br>
                который соответствует вашему стилю жизни и бюджету.
            </div>
        </div>
    </div>
</div>