table {
    width: 100%;
    max-width: 1100px;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
}

tr {
    border-radius: 2px;
    border-color: black;
}

th,
td {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
    border: none;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
}

td {
    font-size: 14px;
    border-bottom: 2px solid black;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.td-description {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:first-child {
    width: 120px;
}

td:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6),
td:nth-child(7) {
    width: 80px;
}

a.edit-bth {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    background-color: #28a745;
    border: none;
    text-decoration: none;
}

    a.edit-bth:hover {
        color: #fff;
        background-color: #218838;
    }
a.delete-btn {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    background-color: red;
    border: none;
    text-decoration: none;
}

    a.delete-btn:hover {
        color: #fff;
        background-color: darkred;
    }
